# ログファイル
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.cache
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Python environments
.env
.venv
env/
venv/
ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db